.vscode/
outputs/
__pycache__/
.env
ffmpeg/
test123/
test124/
test125/
test/
*.png
*.pt
old/
test.py
find_correct.py
validate.py
show_dino_res.py
run_test_compare.py
test.py
get_idx.py
test_qwen.py
outputs
train/compare.py
train/unsloth_compiled_cache/
unsloth_compiled_cache/
